a {
  height: 50%;
}

img {
  object-fit: fill;
  margin: auto;
} 

.card {
  background: #fff;
  border-radius: 2px;
  /* height: 25%; */
  /* margin: 1rem; */
  position: relative;
  width: auto;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 20%;
  overflow: hidden;
  text-align: center;
  background:#ffffff;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  /* padding-left: 1rem;
  padding-right: 1rem; */
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

/* Render items as columns */
.container {
  display: flex;
  flex-flow: column wrap;
}

/* Re-order items into rows */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* Force new columns */
.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
